<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome <%=@scientist.name.capitalize%>, here are all the list of projects in the lab:</h2>

    <div class="content">
      <ul>
        <% @projects.each do |project|%>
        <li>
          <h3> <a href="/projects/<%=project.id%>"><%=project.title.upcase%></a> </h3>
          <p>Scientist: <%=project.scientist.name.upcase%> | Date: <%=project.date%></p>
        </li>
        <%end%>
      </ul>
    </div>

  </div>
</div>
