<div class="w3-container" id="packages" style="margin-top:75px">
   <h1 class="w3-xxxlarge w3-text-red"><b>Welcome <%=@scientist.name.capitalize%></b></h1>
   <hr style="width:50px;border:5px solid red" class="w3-round">
   <p>here are all the list of projects in the lab, keep in mind the list includes all the lab projects:</p>
</div>

<div class="w3-row-padding">
  <div class="w3">
    <ul class="w3-ul w3-light-grey w3-center">
      <li class="w3-dark-grey w3-xlarge w3-padding-32">Lab Projects</li>
    <% @projects.each do |project|%>
      <li class="w3-padding-16">
        <h2><a href="/projects/<%=project.id%>"><%=project.title.upcase%></a></h2>
        <span class="w3-opacity">Scientist: <%=project.scientist.name.upcase%> | Date: <%=project.date%></span>
      </li>
    <%end%>
    </ul>
  </div>
</div>
