<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <h2>Hi, <%=@scientist.name%></h2>

    <div class="content">

      <p><%= @project.title %>
      <br>

      by: <%=@project.scientist.name%> | <%=@project.date%> </p>

      <p><%=@project.content%></p>

      <%  if Helpers.current_user(session) == @project.scientist %>
        <form>
          <button type="submit" id="edit_project" formaction="/projects/<%=@project.id%>/edit">Edit Project</button>
        </form>
        <form action="/projects/<%=@project.id%>" method="post">
          <input type="hidden" id="hidden" name="_method" value="DELETE">
          <input type="submit" id="delete" name="delete" value="Delete Project">
        </form>
        <% else%>
        <h4> You must be the starter of this project to edit/delete it. Contact the other scientist to assign ownership of this project to you.</h4>
      <%end%>

    </div>

  </div>
</div>
